.triskelion-toolkit-mobile-selector {
  display: none;
}

.triskelion-toolkit-code-pane {
  display: none;

  &.active {
    display: block;
  }
}

@media (max-width: 600px) {
  .triskelion-toolkit-tabs-wrapper {
    display: none !important;
  }
  .triskelion-toolkit-mobile-selector {
    display: flex !important;
  }
}